:root {
  --background-buttons: rgba(128, 128, 128, .25);
  --background-card-color: rgb(255 255 255);
  --background-color-tmp: #212121;
  --background-color: rgb(226 229 235);
  --border-color: #fafafa;
  --button-color: #fafafa;
  --color-primary: rgb(0 113 255);
  --color: #212121;
  --font: system-ui, sans-serif;
  --padding: 0;
  --size: 16px;
}

/* Tema oscuro */
@media (prefers-color-scheme: dark) {
  :root:has(input[value="light"]:not(:checked)) {
    --background-buttons: rgb(35 40 50);
    --background-card-color: rgb(50 55 65);
    --background-color: rgb(27 33 39);
    --background-color-tmp: #fafafa;
    --color: #fafafa;
  }
}

body:has(input[value="dark"]:checked) {
  --background-buttons: rgb(35 40 50);
  --background-card-color: rgb(50 55 65);
  --background-color: rgb(27 33 39);
  --background-color-tmp: #fafafa;
  --color: #fafafa;
}


/* INICIO: GENERAL */
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

html {
  background: black url(bg.jpg) no-repeat center center fixed;
  color-scheme: light dark;
  font-family: var(--font);
  font-size: var(--size);
}

dialog {
  background-color: var(--background-color);
  border: none;
  color: inherit;
  &:backdrop {
  }
}

label {
  display: block;

  :is(select, input) {
    background-color: inherit;
    color: inherit;
  }

  i {
    font-style: normal;
  }

  select {
    /* Cambia el fondo de los options al hacer click*/
    appearance: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    padding: var(--padding);
    width: 100%;
  }
}

table {
  --color-primary: 0, 123, 255;
  --opacity-hover: 0.5;

  border-collapse: collapse;
  width: 100%;

  &:has(tbody input:checked) thead {
    input {
      visibility: visible !important;
    }
  }
  
  &:has(thead input:checked) {
    tbody input {
      visibility: visible !important;
    }
  }

  tbody {

    tr {
      cursor: default;

      &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.10);
      }

      &:not(:hover) {

        & > *:first-child {
      
          input:not(:checked) {
            visibility: hidden;
          }
        }
        
        td:last-child {
          section {
            display: none;
          }
        }
      }

      &:hover,
      &:has(input:checked) {
        background-color: rgba(var(--color-primary), var(--opacity-hover));
      }

      &:has(input:checked) {
        background-color: rgba(var(--color-primary), var(--opacity-hover));
        
        &:hover {
          background-color: rgba(var(--color-primary), 1);
        }
      }

      td:last-child {
        position: relative;

        section {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          display: flex;
          gap: 0.5rem;
          right: 0;

          button {
            padding: 0;
          }
        }
      }
    }
  }
  
  thead {

    tr:not(:hover) {

      input:not(:checked) {
        visibility: hidden;
      }
    }
  }

  th,
  td {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--padding-table);
    border: none;
    
    &:not(:last-child) {
      overflow: hidden;
    }
  }

  td:not(:last-child),
  th:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
  
  th {
    border: 1px solid var(--border-color);
    text-align: left;
  }
}

/* FIN: GENERAL */

/* INCIO: LAYOUT */
body {
  display: grid;
  grid-template-columns: minmax(150px, 250px) 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header main aside"
    "nav main aside"
    "footer footer aside";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

aside {
  padding: 1rem;
  grid-area: aside;
  max-width: 500px;
  width: 250px;
}

/* FIN: LAYOUT */

/* INCIO: ESPACIADO */
.spacing-0 {
  --padding: 0;
  --gap: 0;
  --size: 12px;
}

.spacing-1 {
  --gap: 4px;
  --padding-table: 1px 4px;
  --padding-xy: 4px 8px 5px 8px;
  --padding-y: 4px 0;
  --padding: 4px;
  --size: 12px;
}

.spacing-2 {
  --padding: 0.5rem;
  --gap: 0.5rem;
  --size: 16px;
}

.spacing-3 {
  --padding: 1rem;
  --gap: 1rem;
  --size: 16px;
}

html {
  font-size: var(--size);
}

/* FIN: ESPACIADO */

header-table {
}

section-item-selected,
section-default {
  padding: var(--padding-y);
}

section-default {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--gap);
}

nav-breadcrumb {
  display: flex;
  gap: calc(var(--gap) * 3);
  width: min-content;
  
  a:not(:last-child) {
    position: relative;

    &:after {
      position: absolute;
      content: '>';
      display: block;
      left: calc(100% + (var(--gap) * 2));
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/* INICIO: ANCLAS & BOTONES */
:is(a[data-notification], button[data-notification], .btn[data-notification]) {
  position: relative;

  &:after {
    background-color: var(--background-buttons);
    border-radius: 16px;
    content: attr(data-notification);
    font-size: x-small;
    padding: 0 4px;
  }

  &:active {
    &:after {
      color: initial;
    }
  }
}

:is(a, button, summary, .btn) {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: var(--size);
  outline: none;
  padding: var(--padding);

  &:not(.primary) {
    color: var(--color);
  }

  &:active {
    color: var(--color-primary);
  }

  &:hover {
    background-color: var(--background-buttons);
  }

  :is(i, span) {
    font-size: var(--size);
  }

  i {
    font-style: normal;
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--button-color);

    svg {
      stroke: var(--button-color);
    }
  }
}

/* ASPECTOS */

:is(button-group.min a, button-group.min button, button-group.min .btn, a.min, button.min, .btn.min) {
  --top: calc(100% + 2px);
  position: relative;
  
  &:not(:has(i)):before {
    content: '沺｣';
  }
  
  &[data-notification] {

    &:not(:hover) {
      &:after {
        font-size: 0;
        min-height: 8px;
        min-width: 8px;
        padding: 0;
      }
    }

    &:after {
      background-color: var(--color-primary);
      left: 100%;
      position: absolute;
      top: 0;
      transform: translate3d(-50%, 0, 0);
    }
  }
  
  &:not(:hover) {
    span {
      display: none;
    }
  }
  
  span {
    background-color: var(--background-buttons);
    left: 50%;
    padding: 2px 8px;
    position: absolute;
    top: var(--top);
    transform: translate3d(-50%, 0, 0);
    width: max-content;
  }
}

.compact {}

.normal {}

.comfortable {
}


/* FIN: ANCLAS & BOTONES */

label {

  :is(button, input, select) {
    outline: none;
  }
  
  small {
    opacity: 0.75;
  }

  i {
    text-align: center;
  }
}

/* inline */
section-form:has(input[value="inline"]:checked) form {
  
  label {
    align-items: center;
    column-gap: var(--gap);
    display: grid;
    grid-template-columns: minmax(2.5rem, auto) 200px 1fr;

    &:has(small) {
      grid-template-rows: auto auto;

      :is(input, select, i) {
        grid-row: 1 / 3;
      }

      small {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
    
    :is(input, select) {
      grid-column: 3 / 4;
      border: 1px solid var(--border-color);
    }

    i {
      grid-column: 1 / 2;
    }

    span {
      grid-column: 2 / 3;
    }
  }
}

/* block */
section-form:has(input[value="block"]:checked) form {
  label {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(2.5rem, auto) 1fr;
    grid-template-rows: auto auto;
    row-gap: var(--gap);

    &:has(small) {
      grid-template-rows: 15px 15px 15px;
      
      small {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }

      span {
        grid-row: 1 / 2;
      }
    }

    :is(input, select) {
      grid-column: 2 / 3;
      grid-row: -1 / -2;
    }

    i {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    span {
      grid-column: 2 / 3;
      grid-row: 1 / 2
    }
  }
}

/* float */
section-form:has(input[value="float"]:checked) form {
  label {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(2.5rem, auto) 1fr;
    grid-template-rows: auto auto;

    :is(input:not(:placeholder-shown),
      input:focus,
      select:focus,
      select:has(option[value=""]:not(:checked))
      ) {
      padding: 16px 2.5rem 8px 2.5rem;
    }

    :is(&:has(input:focus),
      &:has(input:not(:placeholder-shown)),
      &:has(select:focus),
      &:has(select:focus),
      &:has(option[value=""]:not(:checked))
      ) {

      span {
        transform: translate3d(2.5rem, -10px, 0) scale(0.75);
      }
    }

    :is(input:not(:focus), select:not(:focus)) {
      padding: 12px 2.5rem;
    }

    :is(input, select, span) {
      background-color: transparent;
      grid-column: 1 / -1;
      grid-row: 1 / 2 ;
    }

    :is(i, span) {
      z-index: 1;
    }

    i {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    small {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }

    span {
      letter-spacing: .3px;
      transform-origin: 0 0;
      transform: translate3d(32px, 0px, 0);
    }
  }
}

/* simple */
section-form:has(input[value="simple"]:checked) form {
  
  label {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(2.5rem, auto) auto 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--gap);

    i {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    input, select {
      field-sizing: content;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    small {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    span {
      grid-column: 3 / -1;
      grid-row: 1 / 2;

      &:before {
        content: 'ﾂｷ';
        margin-right: var(--gap);
      }
    }
  }
}

/* INICIO: FORMULARIOS */
/* FIN: FORMULARIOS */


fieldset[data-mode="icon"] {
  display: flex;
  margin: 0;
  padding: 0;
  padding: var(--padding-table);
  width: max-content;
  position: relative;

  &:not(:hover) {
    label:has(input:not(:checked)) {
      position: absolute;
      z-index: -1;
    }
  }

  label {
    width: max-content;

    &:has(input:checked) {
      color: var(--color-primary);
      background-color: var(--color-primary);

      svg {
        stroke: var(--button-color);
      }
    }
  }

  input,
  legend {
    display: none;
  }
}


/* INICIO: DISEﾃ前 */

/* Eimina el 笆ｽ por defecto de detaails*/

button-group {
  display: flex;
  align-items: center;

  summary {
    cursor: pointer;
    display: flex;
    gap: var(--gap);
    padding: var(--padding);
    position: relative;
    width: max-content;
  }
}

:is(button-group, table) {
  details {
    summary {
      list-style: none;
    }
  }
}


:root {
  --amplifier: 0.5;
  --size-svg: calc(var(--size) + (var(--size) * var(--amplifier)));
}

:is(a, button, summary, .btn, body) {
  svg {
    height: var(--size-svg);
    stroke: var(--color);
    width: var(--size-svg);
  }
}


table thead th {
  &:not(:hover) button {
    display: none;
  }

  button {
    padding: 0 !important;
  }
}

tbody td:last-child {
  details {

    summary {
      & + div {
        background-color: var(--background-color);
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
      }

      div {
        display: block;
      }
    }
    
  }
}
/* FIN: DISEﾃ前 */


:is(.navigation-bar button-group, .navigation-bar) {
  display: flex;
  flex-direction: column;

  :is(a, button, summary, .btn) {
    width: 100%;
  }

  details {
    button-group {
      :is(a, button, summary, .btn) {
        padding-left: 2rem;
      }
    }
  }
}


/* DISEﾃ前 */

/* TEMA OSCURO */

body {
  /* DISEﾃ前 */
  background-color: var(--background-color);
  color: var(--color);
  /* clip-path: circle(0% at 50% 50%); */

  &:after {
    background-color: var(--background-color);
    border-radius: 50%;
    content: '';
    height: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform-origin: center center;
    transform: translate3d(50%, -50%, 0);
    width: 0;
    z-index: -1;
  }

  &:before {
    background: var(--background-color-tmp);
    content: "";
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: -2;
  }

  &:has(input[value="light"]:checked) {
    animation: dark_light 2s linear;

    &:after {
      animation: resize 1s linear forwards;
    }
  }

  &:has(input[value="dark"]:checked) {
    animation: dark_light2 2s linear;

    &:after {
      animation: resize2 1s linear forwards;
    }
  }
}

@keyframes dark_light {
  0%, 49% {
    background-color: transparent;
  }

  100% {
    background-color: var(--background-color);
  }
}

@keyframes dark_light2 {
  0%, 49% {
    background-color: transparent;
  }

  100% {
    background-color: var(--background-color);
  }
}

@keyframes resize {
  0% {
    height: 0;
    width: 0;
  }

  100% {
    height: 250vw;
    width: 250vw;
  }
}

@keyframes resize2 {
  0% {
    height: 0;
    width: 0;
  }

  100% {
    height: 250vw;
    width: 250vw;
  }
}

/* FORM FLOAT */

label {
  background-color: rgb(42 47 57);
  border: 1px solid var(--color-primary);
  margin-bottom: 1rem;

  &:has(:is(input:focus, select:focus)) {
    background-color: rgb(36 40 50);

    span {
      color: var(--color-primary);
    }
  }

  :is(input, select) {
    border: none;
  }
}

dialog {
  details {
    background-color: var(--background-card-color);
    margin-bottom: 1rem;
    padding: 1rem;
  }
}